Repository ansys/openapi-common, pull requests merged in 2024-05, with the labels that each got.

#571 FIX - 570 - Add handling for authority URLs with no trailing slash
  src/ansys/openapi/common/_oidc.py
  tests/test_oidc.py
Labels: bug

#563 548 - CI - Add doc-changelog action
  .github/workflows/ci_cd.yml
  .github/workflows/label.yaml
  CHANGELOG.md
  doc/changelog.d/563.changed.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: maintenance

#576 Manually update changelog for 2.0.0 and 2.0.1 releases
  CHANGELOG.md
  doc/changelog.d/576.changed.md
Labels: maintenance

#555 Use ansys standard actions
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/changelog.d/555.dependencies.md
  doc/make.bat
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Labels: documentation, dependencies, maintenance

#577 Update CNAME to support publishing documentation from this repository
  .github/workflows/ci_cd.yml
  doc/changelog.d/577.changed.md
  doc/source/conf.py
Labels: documentation, maintenance

#578 Bump version to 2.1.0
  doc/changelog.d/578.changed.md
  pyproject.toml
Labels: maintenance

#579 Prepare release 2.0.2
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  poetry.lock
  pyproject.toml
Labels: documentation, maintenance

#580 Remove documentation build parallel execution arguments
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/changelog.d/580.changed.md
  pyproject.toml
Labels: maintenance

#581 Fix labelling workflow
  .github/labels.yml
  .github/workflows/label.yaml
  doc/changelog.d/581.changed.md
Labels: maintenance

#587 Don't generate changelog fragments for dependabot PRs
  .github/workflows/label.yaml
  doc/changelog.d/587.changed.md
Labels: maintenance
