Repository ansys/openapi-common, pull requests merged in 2024-10, with the labels that each got.

#679 Update CONTRIBUTORS and AUTHORS to new format
  AUTHORS
  AUTHORS.md
  CONTRIBUTORS.md
  doc/changelog.d/679.maintenance.md
Labels: maintenance

#685 Add missing required inputs for v8 ansys/actions
  .github/workflows/ci_cd.yml
  .github/workflows/label.yaml
  doc/changelog.d/685.fixed.md
Labels: bug, maintenance

#684 Add support for Python 3.13
  .github/workflows/ci_cd.yml
  doc/changelog.d/684.added.md
  pyproject.toml
Labels: enhancement, maintenance

#696 Add a documentation note about pip-system-certs
  README.rst
  doc/changelog.d/696.documentation.md
Labels: documentation

#699 Bump version to 2.3
  doc/changelog.d/699.maintenance.md
  pyproject.toml
Labels: maintenance
