Repository ansys/openapi-common, pull requests merged in 2024-02, with the labels that each got.

#487 Lint project with black 24.1.1
  doc/source/conf.py
  src/ansys/openapi/common/__init__.py
  src/ansys/openapi/common/_base/_types.py
  src/ansys/openapi/common/_oidc.py
Labels: maintenance

#488 Run poetry update
  poetry.lock
Labels: dependencies, maintenance

#492 Remove contrib package
  src/ansys/openapi/common/_contrib/__init__.py
Labels: bug

#491 Add py.typed file
  pyproject.toml
  src/ansys/openapi/common/py.typed
Labels: enhancement, maintenance

#493 Use more PyAnsys actions
  .github/workflows/ci_cd.yml
Labels: maintenance

#490 Add repo files
  AUTHORS.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
Labels: maintenance

#497 Support optional fields in models
  src/ansys/openapi/common/__init__.py
  src/ansys/openapi/common/_api_client.py
  src/ansys/openapi/common/_base/_types.py
  tests/models/example_model.py
  tests/test_api_client.py
Labels: enhancement

#482 Allow deserialization of undefined object
  doc/source/api/index.rst
  src/ansys/openapi/common/__init__.py
  src/ansys/openapi/common/_api_client.py
  src/ansys/openapi/common/_exceptions.py
  tests/test_api_client.py
Labels: bug, documentation

#498 Bump to 1.5.0rc0
  pyproject.toml
Labels: maintenance

#504 Add checkout step to doc deploy job
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#505 Prepare for 1.5.0rc1 release
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

#506 1.5.0 release
  pyproject.toml
Labels: maintenance

#507 Update changelog
  CHANGELOG.md
Labels: maintenance
