Repository ansys/openapi-common, pull requests merged in 2024-03, with the labels that each got.

#509 Revert "Support optional fields in models (#497)"
  src/ansys/openapi/common/__init__.py
  src/ansys/openapi/common/_api_client.py
  src/ansys/openapi/common/_base/_types.py
  tests/models/example_model.py
  tests/test_api_client.py
Labels: bug

#511 MAINT - Bump version for release
  pyproject.toml
Labels: maintenance

#512 DOCS - Add changelog entry for 1.5.1
  CHANGELOG.md
Labels: documentation

#510 Bump to 2.0.0
  pyproject.toml
Labels: maintenance

#513 DOCS - Add changelog entry for 1.5.1 (#512)
  CHANGELOG.md
Labels: documentation

#519 Prepare for 2.0.0rc0 release
  pyproject.toml
Labels: maintenance

#522 Feat/update python dateutil
  poetry.lock
  pyproject.toml
  src/ansys/openapi/common/_api_client.py
Labels: enhancement, dependencies, maintenance
