Repository ansys/openapi-common, pull requests merged in 2025-05, with the labels that each got.

#791 Generate provenance attestations
  .github/workflows/ci_cd.yml
  doc/changelog.d/791.maintenance.md
Labels: maintenance

#792 Improve HTTPS CA documentation
  doc/changelog.d/792.documentation.md
  doc/source/user_guide/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#795 Use commit SHA to pin action versions
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_approve.yml
  .github/workflows/label.yaml
  doc/changelog.d/795.maintenance.md
Labels: maintenance

#796 Bump version to 2.4.0
  doc/changelog.d/796.maintenance.md
  pyproject.toml
Labels: maintenance

#801 Set more restrictive workflow permissions
  .github/workflows/ci_cd.yml
  .github/workflows/label.yaml
  doc/changelog.d/801.maintenance.md
Labels: maintenance

#800 Include changelog in documentation
  CHANGELOG.md
  doc/changelog.d/800.documentation.md
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, maintenance
